#chatTextField::-webkit-scrollbar-thumb {
    background-color: blue;    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 3px solid orange;  /* отступ вокруг бегунка */
}

#chatOpen {
    animation: starts 1s forwards ;
}

#chatClosed {
    animation: close 1s forwards ;
}

@keyframes starts {
    0% {
        width: 50px;
        min-width: auto;
        max-width: auto;
        height: 50px;
        min-height: auto;
        min-height: auto;
        border-radius: 50px;
    }
    50% {
        width: 30%;
        min-width: 300px;
        max-width: 400px;
        height: 50px;
        max-height: auto;
        min-height: auto;
        border-radius: 50px;
    }
    100% {
        width: 30%;
        min-width: 300px;
        max-width: 400px;
        height: 50%;
        max-height: 300px;
        min-height: 600px;
        border-radius: 50px 20px 10px 10px;
    }
}

@keyframes close {
    0% {
        width: 30%;
        min-width: 300px;
        max-width: 400px;
        height: 50%;
        max-height: 300px;
        min-height: 600px;
        border-radius: 50px 20px 10px 10px;
    }
    50% {
        width: 30%;
        min-width: 300px;
        max-width: 400px;
        height: 50px;
        max-height: auto;
        min-height: auto;
        border-radius: 50px;
    }
    100% {
        height: 50px;
        max-height: auto;
        min-height: auto;
        width: 50px;
        min-width: auto;
        max-width: auto;
        border-radius: 50px;
    }
}